:host * {
  margin: 0 !important;
}

.container {
  display: block;
  border-radius: 2px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.icon {
  display: inline-block;
  margin-right: 8px !important;
}

h4 {
  margin: 0;
}

.container.neutral {
  background-color: #f6f6f6;
}

.container.error {
  background-color: #f8eaea;
}

.container.error .content .icon svg path {
  fill: #bd3131 !important;
}

.container.success {
  background-color: #ecfbe9;
}

.container.success .icon path {
  fill: #309417 !important;
}

.container.warning {
  background-color: #fdf6ec;
}

.container.warning .icon path {
  fill: #e9a643 !important;
}
