:host {
  display: block;
}

label {
  font-family: Arial, Helvetica, sans-serif;
}

label,
input {
  cursor: pointer;
}

input {
  appearance: none;
  -webkit-appearance: none;

  display: block;
  width: 16px;
  height: 16px;

  border-radius: 2px;
  transition: border 0.4s, background 0.4s;
  border: 4px solid white;

  box-shadow: 0 0 0 1px #ccc;
}

input:hover {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #888;
}

input:checked {
  display: none;
}

input:checked + .checkbox {
  background-color: black;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 4px;
  margin-bottom: 32px;
}
