@import "../../design-tokens/css/_variables.css";

:host {
  display: block;
}

button {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: var(--onyx-font-default);
  font-weight: 700;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

button.neutral {
  color: var(--hs-color-body);
  background-color: var(--onyx-color-primary);
}

button.error {
  color: var(--onyx-color-body);
  background-color: var(--onyx-color-error);
}

button.success {
  color: var(--onyx-color-body);
  background-color: var(--onyx-color-success);
}

button.warning {
  color: var(--onyx-color-body);
  background-color: var(--onyx-color-warning);
}

button.small {
  font-size: 12px;
  padding: 10px 16px;
}

button.medium {
  font-size: 14px;
  padding: 12px 16px;
}

button.large {
  font-size: 16px;
  padding: 14px 18px;
}

button.neutral:hover {
  color: var(--onyx-color-primary);
  background-color: var(--onyx-color-body);
}
